
# Django
# Environment
# IDE
# OS
# Python
*.egg
*.egg-info/
*.py[cod]
*.sqlite3
*.swo
*.swp
.DS_Store
.eggs/
.env
.idea/
.venv/
.vscode/
Thumbs.db
__pycache__/
build/
dist/
env/
media/
staticfiles/
venv/
venv_local/
